<h1>Make a new Account!</h1>

<form action="<%=users_url%>" method="POST">

  <label for="user_username">Username</label>
  <input type="text" id="user_username" name="user[username]" value="<%=@user.username %>" >
  <br>

  <label for="user_password">Password</label>
  <input type="text" id="user_password" name="user[password]" >
  <br>
  <button>Submit</button>

</form>
